
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
mainCont{
  flex: auto;
  display: flex;
  align-items: stretch;
}
.mainWindow{
  flex: auto;
  display: flex;
  padding: 20px;
}
.left{
  flex: none;
  border-right: 2px solid lightgray;
  padding-right: 20px;
  margin-right: 20px;
}
.usr-li, .chat-li, .chat-li-prop{
  display: flex;
  align-items: center;
  color: gray;
}
.right{
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.chat-area{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}
.chat-tool{
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-editor{
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  flex: none;
  /*font-size: 1rem;*/
  margin-bottom: 10px;
}
.chat-textarea{
  flex: 1 1 200px;
  resize: none;
  border: none;
  /*max-width: 200px;*/
}
#preview{
  flex: 0 1 0;
  max-height: 200px;
  max-width: 300px;
}
.previewPic{
  max-height: 240px;
  max-width: 300px;
}
.chat-tip{
  flex: none;
  display: flex;
  justify-content: center;
  color: gray;
  align-self: center;
}
.chat-tip-time{
  margin-right: 20px;
}
.chat-li{
  flex:none;
  align-items: flex-start;
  margin: 20px 0;
}
.chat-li-name{
  margin-right: 10px;
}
.chat-li-msg{
  font-size: 30px;
  margin: 10px 0;
}
.chat-li-img{
  max-height: 400px;
  max-width: 600px;
}
.chat-li-img:hover{
  cursor: zoom-in;
}
.zoom-in{
  /*display: block;*/
  position: fixed;
  left: 50%;
  top: 50%;
  /*width: 800px;*/
  transform: translateY(-50%) translateX(-50%);
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 100px black;
  z-index: 100;
}
.zoom-in:hover{
  cursor: zoom-out;
}
.wait:hover{
  cursor: wait;
}
.rect{
  color: black;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  /*margin: 10px 0;*/
}
.line, .line2{
  border-top: 1px solid lightgray;
  padding: 10px;
}
.line2{
  border-bottom: 1px solid lightgray;
}
.icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
}
.chat-li-icon .icon{
  width: 70px;
  height: 70px;
}
.btn-bar{
  display: flex;
}
.btn{
  background-color: rgb(107, 168, 224);
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 25px;
  border-radius: 10px;
  /*margin-top: 5px;*/
  user-select: none;
}
.send-img{
  margin-left: 20px;
  background-color: rgb(98, 133, 95);
  color: lightgray;
  cursor: not-allowed;
}
.send-img-active{
  color: white;
  background-color: rgb(100, 230, 117);
}
.pointer:hover{
  cursor: pointer;
}
*{
  /*border: 1px dashed red;*/
}
@media (max-width: 1024px) {
  html{
    font-size: 35px;
  }
  .chat-textarea{
    font-size: 35px;
  }
}
