
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
mainCont{
  flex: auto;
  display: flex;
  align-items: stretch;
}
.mainWindow{
  flex: auto;
  display: flex;
  padding: 20px;
}
.left{
  flex: none;
  border-right: 2px solid lightgray;
  padding-right: 20px;
  margin-right: 20px;
}
.usr-li, .chat-li, .chat-li-prop{
  display: flex;
  align-items: center;
  color: gray;
}
.right{
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.chat-area{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}
.chat-tool{
  flex: none;
}
.chat-textarea{
  flex: none;
  resize: none;
  font-size: 1rem;
  width: calc(100% - 20px);
}
.chat-tip{
  flex: none;
  display: flex;
  justify-content: center;
  color: gray;
  align-self: center;
}
.chat-tip-time{
  margin-right: 20px;
}
.chat-li{
  flex:none;
  align-items: flex-start;
  margin: 20px 0;
}
.chat-li-name{
  margin-right: 10px;
}
.chat-li-msg{
  font-size: 30px;
}
.rect{
  color: black;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.line, .line2{
  border-top: 1px solid lightgray;
  padding: 10px;
}
.line2{
  border-bottom: 1px solid lightgray;
}
.icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
}
.chat-li-icon .icon{
  width: 70px;
  height: 70px;
}
.btn{
  background-color: rgb(107, 168, 224);
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  margin: 0 5px;
}
.btn:hover{
  cursor: pointer;
}
.r{
  border: 1px dashed red;
}
@media (max-width: 1024px) {
  html{font-size: 35px;}
  .ctn-display img{
    width: 90%;
  }
}
