*{
    box-sizing: border-box;
}
@-webkit-keyframes rotate {
    from{transform: rotateZ(0)}
    33%{transform: rotateZ(120deg)}
    66%{transform: rotateZ(240deg)}
    100%{transform: rotateZ(360deg)}
}
html, body, .audio, .controls{height: 100%;}
.slider{
    opacity: 0;
    z-index: 10;
}
.songlist{
    list-style-type:none;
    display: none;
    position: absolute;
    padding: 20px;
    font-size: 20px;
    z-index: 10;
}
.songlist:hover{cursor: pointer;}
.songlist li:hover{color: white;}
.slider-vol-cont, #vol{
    display: none;
}
#timeshow{
    position: relative;;
    color: lightgray;
}
.none{
    opacity: 0;
}
.audio{background-color: black;}
.controls{
    display: flex;
    flex-direction: column;
    /*align-items:stretch;*/
    justify-content: space-around;
    color: lightgray;
    font-size: 15px;
    padding: 20px 30px;
}
.title{
    align-self: stretch;
    border-bottom: thin solid black;
    z-index: 10;
    color: darkgray;
}
.current{
    text-align: center;
    margin: 20px 20px 0px 20px;
    font-size: 20px;
    z-index: 9;
}
.btnArea{
    flex: none;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.btn{
    font-size: 30px;
}
#menu{
    order: 1;
}
.sliderArea{
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderArea>span{
    z-index: 10;
}
.slider-cont *:hover{cursor: pointer;}
.slider-cont{
    flex:auto;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 10px;
}
range{
    width: 98%;
    left: 1%;
    flex: auto;
    top: 4px;
    background-color: lightgray;
    /*border: thin solid gray;*/
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
}
.prog{
    border: medium solid red;
    border-radius: 5px;
    width: 1%;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../res/黄家驹.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: contrast(1.3) brightness(0.5) blur(10px);
    z-index: 0;
}
.bg{
    flex: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg .circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('../res/黄家驹.jpg');
    background-position: center;
    background-size: 100%;
    border: 25px solid black;
    filter: contrast(.8);
    animation: rotate 20s infinite linear;
}
.paus{
    animation-play-state: paused;
}
.empty{
    height: 30px;
    width: 100%;
}
