
@-webkit-keyframes typing { from{width:0;} 20% { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: white; } }
@-webkit-keyframes typedel {from{width:0;} 10% { width: 0; } 50%{width:6.1em;} 80%{width:6.1em;} to{width:0;}}

.type-name{
    display: inline-block;
    font-size: 4em;
    width: 3.1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid transparent;
    animation: typing 2s  steps(3,start), /* # of steps = # of chars */
                blink-caret 1s 2;
}
.type-del{
    display: inline-block;
    width: 6.1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid transparent;
    animation: typing 2s steps(1,end),
                typedel 2s 2s steps(6,end) forwards, /* # of steps = # of chars */
                blink-caret 1s 2s 2;
}
.type-1st{
    display: inline-block;
    width: 5.1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid transparent;
    animation: typing 4s steps(1,end),
                typing 1s 4s steps(9,end), /* # of steps = # of chars */
                blink-caret 1s 4s 1;
}
.type-2nd{
    display: inline-block;
    width: 5.1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid transparent;
    animation: typing 5s steps(1,end),
                typing 1.5s 5s steps(5,end), /* # of steps = # of chars */
                blink-caret 1s 5s 2;
}

.contact{
    /*flex: none;
    display: block;*/
    position: relative;
    left: -5%;
    color: white;
    background-color: #336699;
    /*border: medium solid;*/
    padding: 1em 3.5em 1.5em 3.5em;
    flex: none;
    width: 110%
}
.method-txt a{text-decoration: underline;}
.name{
    text-align: center;
    padding: 0;
}
.name p{
    font-size: 1em;
    position: relative;
    top: -0.5em;
}
.method{text-align: left;}
a{color: inherit;}
a:hover{color: #99ccff;}
.image{
    display: none;
}
.image>img{
    position: absolute;
    left: 45%;
    transform: translateX(-70%) translateZ(40px);
    width: 200px;
}
#html{
    transform: translateX(-20%) translateZ(80px) ;
}

.threeD{
    transform-style: preserve-3d;
}
#name{transform: translateZ(20px);}
.name>p{
    transform: translateZ(70px);
    text-shadow: 5px 4px 3px #333;
}
.method{
    transform: translateZ(50px);
    text-shadow: 5px 4px 3px #555;
}
